@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply text-blue hover:underline;
  }
  img {
    max-width: 100%;
    display: block;
  }

  ul {
    @apply list-disc p-6;
  }
}

.body {
  font-size: 1.2rem !important;
  font-weight: 400 !important;
  line-height: 150% !important;
}

html,
body {
  height: 100%;
}
